// =============================================================================
// ^SETTING.THEMES
// =============================================================================
// @todo Legacy
$portage: #8f88f7;
$linear-portage: linear-gradient(153.78deg, #707cf2 -9.32%, #bf9bff 113.05%);

$night-fade: #232526;
$linear-night-fade: linear-gradient(to right, #a18cd1, #fbc2eb);

$ekzo-colors: (
  'black': #222c3a,
  primary: $portage,
  linear-primary: $linear-night-fade,
  linear-primary-bg: $night-fade,
  'ivory': #f6f9fc,
  shamrock: #49d29b,
  linear-shamrock: linear-gradient(135.17deg, #00a7a5 -43.23%, #60e8ad 92.87%, #ebfc00 147.1%),
  melrose: #9ba4ff,
  portage: $portage,
  linear-portage: $linear-portage,
  amber: #ffc100,
  linear-red: linear-gradient(135.17deg, #f00 -43.23%, #ef513b 92.87%, #fcc500 147.1%),
  'red': #f00
);

$base-text: ekzo-color('black');

@include ekzo-extend-themes(base, (

  // -----------------------------------------------------------------------------
  // Background
  // -----------------------------------------------------------------------------

  bg: ekzo-color('ivory'),

  // -----------------------------------------------------------------------------
  // Text
  // -----------------------------------------------------------------------------

  text: $base-text,

  // -----------------------------------------------------------------------------
  // Links
  // -----------------------------------------------------------------------------

  links: ekzo-color(primary),
  links-hover: ekzo-tint(ekzo-color(primary), 20),

  // -----------------------------------------------------------------------------
  // Headings
  // -----------------------------------------------------------------------------

  headings: null,
  extra-headings: null,

  // -----------------------------------------------------------------------------
  // Selection
  // -----------------------------------------------------------------------------

  selection: null,
  selection-bg: null,

  // -----------------------------------------------------------------------------
  // Code
  // -----------------------------------------------------------------------------

  code: ekzo-shade($base-text, 10),
  code-bg: rgba(ekzo-color('black'), .3),

  // -----------------------------------------------------------------------------
  // Forms
  // -----------------------------------------------------------------------------

  forms: $base-text,
  forms-placeholder: ekzo-tint($base-text, 75),
  forms-border: rgba($base-text, .15),
  forms-bg: #fff,

  // -----------------------------------------------------------------------------
  // Horizontal line
  // -----------------------------------------------------------------------------

  hr: ekzo-tint(#fff, 10),

  // -----------------------------------------------------------------------------
  // Buttons
  // -----------------------------------------------------------------------------

  btn: ekzo-color('ivory'),
  btn-bg: ekzo-color(primary),

  // -----------------------------------------------------------------------------
  // Breadcrumb
  // -----------------------------------------------------------------------------

  breadcrumb-links: $base-text,
  breadcrumb-delimiters: ekzo-tint($base-text, 50),

))
