.h-bg--linear-shamrock { background-image: ekzo-color('linear-shamrock'); }
.h-bg--linear-portage { background-image: ekzo-color('linear-portage'); }
.h-bg--linear-red { background-image: ekzo-color('linear-red'); }
